.filter {
  margin: auto 35px;
}
.filter label {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  font-size: small;
}
.filter select {
  font: 400 11px/1.3 sans-serif;
  overflow-y: hidden;
  -webkit-appearance: none;
  appearance: none;
  color: #060930;
  border: 1px solid #b6effb;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: linear-gradient(#ffff, #ffff),
    linear-gradient(-135deg, transparent 50%, #ffff 50%),
    linear-gradient(-225deg, transparent 50%, #ffff 50%),
    linear-gradient(#ffff 42%, #060930 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 21px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom,
    right bottom;
}

.filter select:hover {
  border: 1px solid #5a37c3;
}

.filter select:active {
  border: 1px solid #5a37c3;
}

@media only screen and (max-width: 768px) {
  .filter {
    margin: auto 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
