:root {
  --main: #060930;
  --white: #fff;
  --cyan: #cff4fc;
}
.btn-custom {
  background-color: #f4abc4 !important;
}
@font-face {
  font-family: "Kenyan Coffee";
  font-style: normal;
  font-weight: 400;
  src: local("Kenyan Coffee"), url(./assests/Kenyan\ Coffee.woff) format("woff");
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);
body {
  background-color: #ffffff;
  color: #060930;
}
.movie-main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;
}

.filter-container {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
  /* background-color: #cff4fc; */
  height: 50px;
  /* margin-bottom: 30px; */
}
.filter-bar {
  border-top: 3px solid #0609307d;
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
}
.centered {
  margin:auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main);
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 5px 8px;
  border: 1px solid var(--cyan);
  cursor: pointer;
  margin: 6px;
  background: var(--main);
}

.btn:hover,
.btn:active {
  background-color: var(--cyan);
  border-color: var(--cyan);
  color: var(--main);
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}
@media only screen and (max-width: 768px) {
  .filter-container {
    flex-flow: row wrap;
    height: unset;
    margin-left: 25px;
  }
  .filter-bar {
    border-top: 2px solid #0609307d;
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
  }
}
