.card {
  width: 265px;
  height: 400px;
  background-color: var(--main);
  margin: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  border: 1px;
  align-self: center;
  border-radius: 10px;
}
.movie {
  display: flex;
  flex-flow: column;
  margin: 5px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 38%,
    hsla(0, 0%, 100%, 0.06) 39%,
    rgb(243 243 245 / 88%) 53%,
    #f6f6f7 55%
  );
  z-index: 1 !important;
  width: 16rem;
  height: 400px;
  border-radius: 4px;
}
.movie-img {
  width: 100%;
  height: 220px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 40px;
  border-top-right-radius: 4px;
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #000),
    color-stop(0.35, #000),
    color-stop(0.5, #000),
    color-stop(0.65, #000),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, transparent)
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #000),
    color-stop(0.35, #000),
    color-stop(0.5, #000),
    color-stop(0.65, #000),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, transparent)
  );
}
.movie-img > img {
  width: 100%;
}
.text-movie-content {
  padding: 0 12px;
  /* text-align: justify; */
}
.title-timeline-genre {
  width: 100%;
}
.title-timeline-genre:after,
.title-timeline-genre:before {
  content: "";
  display: table;
}
.title-timeline-genre:after {
  clear: both;
}

.col {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 0.5% 0.5%;
  padding: 1%;
  justify-content: flex-start;
}
.col > h2 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.details {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #818181;
  white-space: nowrap; 
  width: auto; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__rated, .details__release, .details__genre {
  margin-right: 6px;
  font-weight: 600;
}
.genre {
  color: grey;
}
.rating {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.imdb-rating {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #f6c800;
  padding-left: 10px;
  padding-right: 10px;
  height: 18px;
  border-radius: 3px;
}
.imdb-rating > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* margin-top: 15px; */
  padding: 0;
}
.imdb-rating > ul > li {
  display: flex;
  padding: 0;
  align-items: center;
  margin-top: 1px;
}
.imdb-rating > ul > li > p {
  font-family: sans-serif;
  font-size: 11px;
  border-right: 1px solid grey;
  padding-right: 5px;
  font-weight: 600;
}
.rt-rating {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #f6c800;
  padding-left: 10px;
  padding-right: 10px;
  height: 18px;
  border-radius: 3px;
}
.rt-rating > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* margin-top: 15px; */
  padding: 0;
}
.rt-rating > ul > li {
  display: flex;
  padding: 0;
  align-items: center;
  margin-top: 1px;
}
.rt-rating > ul > li > img {
  width: 12px;
  border-right: 1px solid grey;
  padding-right: 5px;
}
.imdb-value {
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
  /* border-left: 1px solid grey; */
}
.actors {
  width: 100%;
}
.actors-column {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}
.movie-actors {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 140px;
    height: 200px;
    background-color: #333456;
    margin: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    border: 1px;
    align-self: center;
    border-radius: 10px;
  }
  .movie {
    display: flex;
    flex-flow: column;
    margin: 5px;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0) 38%,
      hsla(0, 0%, 100%, 0.06) 39%,
      rgb(243 243 245 / 88%) 53%,
      #f6f6f7 55%
    );
    z-index: 1 !important;
    width: 130px;
    height: 200px;
    /* display: block; */
    border-radius: 4px;
  }
  .movie-img {
    height: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 4px;
    mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #000),
      color-stop(0.35, #000),
      color-stop(0.5, #000),
      color-stop(0.65, #000),
      color-stop(0.85, rgba(0, 0, 0, 0.6)),
      color-stop(1, transparent)
    );
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #000),
      color-stop(0.35, #000),
      color-stop(0.5, #000),
      color-stop(0.65, #000),
      color-stop(0.85, rgba(0, 0, 0, 0.6)),
      color-stop(1, transparent)
    );
  }
  .movie-img > img {
    width: 100%;
  }
  .text-movie-content {
    padding: 0 5px;
    /* text-align: justify; */
  }
  .col > h2 {
    font-family: "Montserrat", sans-serif !important;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .details {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    color: #818181;
    white-space: nowrap; 
    width: auto; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .details__rated, .details__release, .details__genre {
    margin-right: 6px;
    font-weight: 600;
  }
  .rating {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
  .imdb-rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10px;
    background-color: #f6c800;
    padding-left: 10px;
    padding-right: 10px;
    height: 15px;
    border-radius: 3px;
  }
  .imdb-rating > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* margin-top: 15px; */
    padding: 0;
  }
  .imdb-rating > ul > li {
    display: flex;
    padding: 0;
    align-items: center;
    margin-top: 1px;
  }
  .imdb-rating > ul > li > p {
    font-family: sans-serif;
    font-size: 8px;
    border-right: 1px solid grey;
    padding-right: 5px;
    font-weight: 600;
  }
  .rt-rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    background-color: #f6c800;
    padding-left: 7px;
    padding-right: 5px;
    height: 15px;
    border-radius: 3px;
  }
  .rt-rating > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* margin-top: 15px; */
    padding: 0;
  }
  .rt-rating > ul > li {
    display: flex;
    padding: 0;
    align-items: center;
    margin-top: 1px;
  }
  .rt-rating > ul > li > img {
    width: 9px;
    border-right: 1px solid grey;
    padding-right: 5px;
  }
  .imdb-value {
    font-size: 8px;
    padding-left: 5px;
    font-weight: 600;
    /* border-left: 1px solid grey; */
  }
  .actors {
    width: 100%;
  }
  .actors-column {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
  }
  .movie-actors {
    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    font-weight: 600;
    white-space: nowrap; 
    width: auto; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
