.header {
  background: var(--main);
  width: 100%;
  height: 85vh;
  /* margin-top: 45px; */
}
.bgImg {
  background: var(--bgImg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right -200px top;
}
.layer {
  background-image: linear-gradient(
    to right,
    rgba(9.41%, 8.24%, 15.69%, 1) 150px,
    rgba(9.41%, 8.24%, 15.69%, 0.84) 100%
  );
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.content {
  width: 100%;
  padding: 30px 40px;
}
.inner-content {
  display: flex;
  flex-wrap: nowrap;
  color: var(--white);
}
.posterDiv {
  height: 450px;
  border-width: 0px;
  min-width: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  top: 0;
  left: 0;
}
.posterImg {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
.poster {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-width: 0px;
  outline: none;
}
.detailsSection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}
section .details {
  display: flex;
}
.title-rated-genre {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.title-rated-genre h2 {
  font-size: 2.2rem;
  width: 100%;
  margin: 0;
  padding: 0;
}
.release_date {
  opacity: 0.8;
  font-weight: 400;
  margin-left: 5px;
}
.genre_rated {
  display: flex;
  color: var(--white);
}

.genre_rated span {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  align-content: center;
  padding: 0.06em 4px 0.15em 4px !important;
  line-height: 1;
  border-radius: 2px;
  margin-right: 7px;
}
span .certification {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
.genre::before,
.runtime::before {
  content: "\2022";
  width: 100%;
  height: 100%;
  display: inline-flex;
  margin-right: 5px;
}
.genre,
.runtime {
  padding-left: 20px;
  position: relative;
  top: 0;
  left: 0;
  color: var(--white);
}
.description {
  width: 100%;
}
h3 {
  width: 100%;
  margin: 0 0 8px 0;
}
.desc {
  margin-top: 10px;
}
.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}
.overview {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}
.rating {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: var(--main);
}
.imdb-rating {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #f6c800;
  padding-left: 10px;
  padding-right: 10px;
  height: 18px;
  border-radius: 3px;
}
.imdb-rating > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* margin-top: 15px; */
  padding: 0;
}
.imdb-rating > ul > li {
  display: flex;
  padding: 0;
  align-items: center;
  margin-top: 1px;
}
.imdb-rating > ul > li > p {
  font-family: sans-serif;
  font-size: 14px;
  border-right: 1px solid grey;
  padding-right: 5px;
  font-weight: 600;
}
.imdb-value {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600;
  /* border-left: 1px solid grey; */
}
.streamLogo {
  width: 36px;
  height: 36px;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 100vh;
    margin-top: 0;
  }
  .content{
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }
  .inner-content{
    flex-wrap: wrap;
  }
  .poster {
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(((100vw / 2.222222) - 40px) / 1.5);
    min-width: calc(((100vw / 2.222222) - 40px) / 1.5);
    height: calc((100vw / 2.222222) - 40px);
    min-height: calc((100vw / 2.222222) - 40px);
    border-radius: 4px;
    z-index: 4;
  }
  .bgImg {
    min-width: 100vw;
    width: 100vw;
    height: calc(100vw / 2.222222);
    background-position: calc((((100vw / 2.222222) - 20px) / 1.5) / 2) 0;
  }
  .layer {
    background-image: linear-gradient(
      to right,
      rgba(2.35%, 4.71%, 6.67%, 1) 20%,
      rgba(2.35%, 4.71%, 6.67%, 0) 50%
    );
  }
  .posterDiv{
    width: 140px;
    min-width: 140px;
    height: 151px;
    top: 10px;
  }
  .details{
    min-height: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    top: 40px;
  }
  .detailsSection{
    width: 100%;
    position: relative;
    bottom: 0;
    top: 0;
    float: none;
    box-sizing: border-box;
    padding-left: 0;
    align-items: flex-start;
  }
  .title-rated-genre{
    margin-bottom: 0;
  }
  .title-rated-genre h2 {
    font-size: calc(0.7em + 3vw);
    text-align: center;
  }
  .genre_rated{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 0;
  }
  .genre{
    order: 4;
  }
  .rating{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 0;
  }
  .imdb-rating{
    margin-top: 0;
  }
  .description{
    padding: 20px;
    background: var(--main);
  }
  .comments {
    display: flex;
    /* background: var(--main); */
    background: var(--main);
    width: 100%;
  }
}
